{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 52.3731339,
    "longitude": 4.8903147,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "कुन्जबिआर (जनकपुर)",
    "time_zone": "Asia/Katmandu",
    "external_url": "https://hassjnp.ajaysingh.com.np",
    "internal_url": null,
    "currency": "NPR",
    "country": "NP",
    "language": "en"
  }
}